{{extend 'layout_tecnicos.html'}}

<head>
    <title>Informacion de mantemiento</title>
</head>

<div class="container">
    <div class="row">
    	<div class="col-md-12">
            <hr>
          <h4><strong>Información sobre el Mantenimiento</strong></h4>
            <hr>
        <div class="panel panel-default">
        <div class="panel-body form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label ">Técnico Principal</label>
                        <div class="col-sm-9">
                           <input type="text" readonly=”readonly” class="form-control" value="Hernán Robles">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Técnico Secundario</label>
                        <div class="col-sm-9">
                            <input type="text" readonly=”readonly” class="form-control" value="Emanuel Carabajal">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nodo</label>
                        <div class="col-sm-9">
                            <input type="text" readonly=”readonly” class="form-control" value="nodo2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha</label>
                        <div class="col-sm-9">
                             <input type="text" readonly=”readonly” class="form-control" value="24-06-2017">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Descripción</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" readonly=”readonly” rows="7"></textarea>
                        </div>

             </div>
    	     </div>
             </div>
             </div>
             </div>
             </div>
