{{extend 'layout_admin.html'}}

<br>

<div class="col-md-2">
    <select name="tecnico" class="form-control">
        <option selected value="0"> Tecnicos </option>
        <option value="10">Tecnico1</option> 
        <option value="11">Tecnico2</option> 
        <option value="12">Tecnico3</option> 
    </select>
</div>
<div class="col-md-2">
        <input type="date" class="form-control" id="date" name="date">
</div>
<br></br>
<br></br>

<table class="table table-hover" border="3px" >
    <thead bgcolor=”#7899B0″ span style="color:#FFFFFF"><tr><th><center>Cliente</center></th><th><center>Problematica</center></th><th><center>Tecnico asignado</center></th><th><center>Fecha de realizacion</center></th><th><center>Solucion</center></th><th><center>Costo de soporte</center></th>
    <tbody style="background-color:#FFFFFF;"><tr><td><center>Emanuel Carabajal</center></td><td><center>ddd</center></td><td><center>Hernan Ramirez</center></td><td><center>24/06/2017</center></td><td><center>Cambio...</center></td><td><center>$ 300 - (hhhh)</center></td></tr></tbody></table>
