{{extend 'layout_clientes.html'}}
<body>

<div class="container">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    </br>
  <div id="slideshow">
    <div> <img src="http://127.0.0.1:8000/Staff/static/_2.14.6/images/soporte_tecnico.png" width="949" height="600" alt="img 3" aling="middle" /></div>
    <div><img src="http://127.0.0.1:8000/Staff/static/_2.14.6/images/router.png" width="949" height="600" alt="img 2" aling="middle"/> </div>
    <div>  <img src="http://127.0.0.1:8000/Staff/static/_2.14.6/images/banda_ancha.png" width="949" height="600" alt="img 1" aling="middle" /></div>
 </div>
    <br/>
    <br/>
  <div class="tabla" id="tabla"><table width="1024" cellspacing="0" class="tabla">
  <tr align="center" valign="middle">
      <td><p><strong><a href="{{=URL(c="clientes",f="descripcionPlan")}}" ><img src="http://127.0.0.1:8000/Staff/static/_2.14.6/images/1M.png"  alt="1m"  width="220" height="200"/> </strong></a></p></td>
      <td><p><strong><a href="{{=URL(c="clientes",f="descripcionPlan2")}}" ><img src="http://127.0.0.1:8000/Staff/static/_2.14.6/images/2M.png" width="210" height="200"alt="2m" /></strong></a></p></td>
      <td><p><strong><a href="{{=URL(c="clientes",f="descripcionPlan3")}}" ><img src="http://127.0.0.1:8000/Staff/static/_2.14.6/images/3M.png" width="210" height="200" alt="3m" /></strong></a></p></td>
      <td><p><strong><a href="{{=URL(c="clientes",f="descripcionPlan4")}}" ><img src="http://127.0.0.1:8000/Staff/static/_2.14.6/images/5M.png" width="210" height="200"alt="5m" /></strong></a></p></td>
  </tr>
</table>
   </div>
    <br/>
    <br/>
</div>
<div class="container" id="texto"><h1>Nuestro Servicio</h1>
  <p>Nuestro <strong>servicio de Internet inalámbrico</strong> (Internet por aire o Internet Wireless) está disponible en ubicaciones geográficas estratégicas que nos permiten asegurar una conexión a internet de alta calidad, estabilidad y confiabilidad.</p>
  <p>Mediante nuestro control y monitoreo permanente de la red, aseguramos la fiabilidad del enlace de Internet por aire y, de este modo, la calidad del servicio.</p>
    <br/><br/><br/><br/><br/>
</body>
